* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.top-bar {
  width: 100%;
  height: 40px;
  background-color: #8580eb;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dcdcdc;
}
.logo-text {
  font-size: 18px;
  font-weight: 600;
}
.banner {
  width: 100%;
  height: 230px;
  background-color: #c4c4c4;
  border-radius: 15px;
}

footer a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}
.footer-top button:hover {
  background-color: #8580eb;
  color: #fff;
  transition: all 0.3s ease;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}
